* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Navbar Content */
.navbar-brand {
  font-size: 32px;
  font-family: "Great Vibes", serif;
  font-weight: 500;
  color: rgb(160, 112, 51);
}
.navbar-brand:hover {
  color: pink;
}
.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  font-family: "Courgette", serif;
  color: black;
}
.nav-link:hover {
  color: pink;
}
.search {
  height: 40px;
  width: 80%;
  border-radius: 60px;
  outline: none;
  border: 2px solid pink;
  margin-right: -35px;
  font-family: "Courgette", serif;
}
.btnSearch {
  height: 40px;
  width: 40%;
  outline: none;
  border: none;
  background-color: rgb(230, 155, 166);
  color: white;
  font-weight: 700;
  border-radius: 60px;
  font-family: "Courgette", serif;
}
.btn1 {
  background-color: rgb(230, 155, 166);
  color: white;
}
@media (max-width: 991px) {
  .btn1 {
    margin-top: 10px;
    width: 100px;
    padding: 5px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search {
    width: 30%;
    margin-top: 10px;
  }
  .btnSearch {
    width: 20%;
    margin-top: 10px;
  }
}
/* Carousel */
#carouselExampleSlidesOnly {
  margin-top: 90px;
}
.carousel-inner {
  width: 80%;
  margin: 0 auto;
}
.btn2 {
  height: 45px;
  width: 35%;
  border: none;
  outline: none;
  background-color: rgb(245, 144, 204);
  color: white;
  font-weight: 700;
  border-radius: 60px;
  font-family: "DM Sans", serif;
}
.btn2:hover {
  background-color: rgb(223, 174, 194);
  color: rgb(159, 88, 143);
}
.home h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Courgette", serif;
  color: rgb(50, 100, 100);
}
.home h1:hover {
  color: rgb(206, 147, 58);
}
/* Categories */
.categories .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 70%;
  margin: 0 auto;
}
.categories .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Trending */
.trending .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 70%;
  margin: 0 auto;
}
.trending .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
/* deals */
.deals .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 70%;
  margin: 0 auto;
}

.deals .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.original-price {
  text-decoration: line-through;
  color: #999;
  margin-right: 10px;
}
.discount-price {
  color: #e74c3c;
  font-weight: bold;
}
.new {
  background-image: url(images/mainImage2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
}
.new h1 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Courgette", serif;
  color: rgb(206, 147, 58);
  padding-top: 80px;
}
.new h1:hover {
  color: rgb(198, 142, 187);
  transform: translateY(-10px);
}
/* Footer */
.end {
  background-color: black;
  color: rgb(97, 90, 90);
}
.end h5 {
  color: rgb(188, 181, 181);
}
