*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    border-bottom: 1px solid rgb(170, 167, 169);
 
  }
.navbar-brand{
    font-size: 32px;
    font-family: "Great Vibes", serif;
    font-weight: 500;
    color: rgb(160, 112, 51);

}
.navbar-brand:hover{
    color: pink;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    font-family: "Courgette", serif;
    color: black;
}
.nav-link:hover{
    color: pink;
}
.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    border: 2px solid pink;
    margin-right:-35px;
    font-family: "Courgette", serif;
}
.btn1{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background-color: rgb(230, 155, 166);
    color: white;
    font-weight: 700;
    border-radius: 60px;
    font-family: "Courgette", serif;

}
body{
    background-image: url(images/backgrounImage.avif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container1 {
    max-width: 900px;
        padding: 50px;
        background-color: white;
}
button{
    font-size: 10px;
    
}
button:hover{
    color: #161707;
}
.order-history h4 {
    margin-bottom: 20px;
}
/* Make order history table scrollable on smaller screens */
@media (max-width: 500px) {
.main .container {
margin-top: 30%;
}

.order-history {
overflow-x: auto;  /* Allow horizontal scroll */
/*-webkit-overflow-scrolling: touch; Smooth scrolling on iOS */
margin-bottom: 20px;
}

.order-history table {
width: 100%;
font-size: 14px;
display: block;  /* Make table a block element to allow scroll */
white-space: nowrap;  /* Prevent text from wrapping */
}

.order-history th,
.order-history td {
min-width: 150px;  /* Set a minimum width for columns */
}
}

.cancel-btn {
    color: #fff;
    background-color: #dc3545;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.cancel-btn:hover {
    background-color: #c82333;
}
.product-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.end{
    background-color: black;
    color: rgb(97, 90, 90);
}
.end h5{
    color: rgb(188, 181, 181);
}